.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.git/**
*.map
*.ts
!*.d.ts
tsconfig.json
PROJETO.md
TELAS.md
HELP.md
.eslintrc.json
.prettierrc
**/*.md
!README.md
!CHANGELOG.md
!LICENSE
docs/**
help/**/*.md
!help/index.md
APIkey.md
